---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="/" class="gpt-title">Shado</a>
    <a href="/" class="gpt-subtitle">Seek</a>
  </div>
  <p mt-1 op-60>
    基于
    <a href="/"> 傻豆AI.</a>
  </p>
</header>
